/*
 * Specific styles of signin component
 */
/*;
 * General styles
 */

    
    
    body { 
        background: url(maxresdefault.jpg)  no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
      }


